body{
    height: 100%;
    width: 100%;
}

.perso_imgAliment{
    width:270px;
    height:150px;
    object-fit:cover;
    padding: 0;
}

.perso_imgAlimentAdmin{
    width:70px;
    height:60px;
    object-fit:cover;
}
